<!--app/templates/index.html-->
<form>
  <input value='{{keyword}}' name="keyword" placeholder="Nhập tên/mã sản phẩm">
  <label>Nhóm sản phẩm:</label>
  <select name='categoryId'>
    <option value="">--Tất cả--</option>
    {% for c in categoryList %}
      <option {%if c.id == categoryId %} selected {% endif %} value="{{c.id}}">{{c.name}}</option>
    {% endfor %}
  </select>
  <label>Mức giá</label>
  <select name='priceRange'>
    <option value="">--Tất cả--</option>
    <option {%if 1 == priceRange %} selected {% endif %} value="1">Dưới 5 triệu</option>
    <option {%if 2 == priceRange %} selected {% endif %} value="2">Từ 5 đến 10 triệu</option>
    <option {%if 3 == priceRange %} selected {% endif %} value="3">Từ 10 đến 20 triệu</option>
    <option {%if 4 == priceRange %} selected {% endif %} value="4">Trên 20 triệu</option>
  </select>
  <button type="submit">Tìm kiếm</button>
  <table border="1">
    <thead>
      <tr>
        <th>#</th>
        <th>Nhóm sản phẩm</th>
        <th>Mã</th>
        <th>Tên</th>    
        <th>Đơn giá</th>  
      </tr>
    </thead>
    <tbody>
      {%for p in productList %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{p.category.name}}</td>
          <td>{{p.code}}</td>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
        </tr>
      {%endfor%}
      {% if not productList %}
        <tr>
          <td colspan='5'>Không có sản phẩm nào</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</form>
