<!--app/templates/category/form.html-->
{%extends "../base.html" %}

{%block navbar%}
  {%with page=1%}
    {{block.super}}
  {%endwith%}
{%endblock%}

{%block content %}
<div class="container pt-3">
  <h3>Thông tin nhóm sản phẩm</h3>
  <form method="POST" novalidate>
    {%csrf_token%}
    <table class="table table-form">{{form}}</table>
    <button type="submit" class="btn btn-primary">Lưu lại</button>
    <a class="btn btn-secondary" href="/staff">Quay lại</a>
  </form>
</div>
<script>
  $(document).ready(function() {
    $('.table-form input').addClass('form-control');
  });
</script>
{%endblock%}